form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topnav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.topnav a {
  color: lightgray; 
  text-decoration: none;
  margin-left: 15px;
  font-size: 14px;
}

.topnav a:hover {
  text-decoration: underline;
}

body {
  background-color: #202124; 
  color: lightgray; 
}

.midpart {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 80vh; 
}

.logo {
    display: block;
    margin: 10px auto;
    width: 272px;
}

input[type="search"] {
    margin-bottom: 10px;
    width: 500px;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 24px;
    outline: none;
    font-size: 16px;
    background-color: lightgray;
}

input.ad_search[type="search"] {
  border: 2px solid lightgray;
  color: lightgray;
  border-radius: 2px;
  padding: 2px 5px;
  background-color: #202124;
}

/*Submit button here*/
.clicker {
  cursor: pointer;
  color: lightgray;
  background-color: #353841;
  border-radius: 5px;
  height: 25px;
  margin-top: 18px;
  margin-left: 7px;
  margin-right:8px;
}

.clicker:hover {
  border: 2px solid lightgray;
}

.adhead {
  
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: lightgray;
  font-family: Arial, sans-serif;
  line-height: 1.2;
  margin-inline: 80px;
}

.adheadbox {
  display: flex;
  flex-direction: column;
  
}

#advanced_logo,
#advanced_logo img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  width: 100px;
}

#advanced_form {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-auto-rows: 80px;
  gap: 20px;
}

.labdiv {
  display: flex;
}

div.labdiv label {
  font-size: smaller;
}

#adsubmit {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#adsubmit button{
  cursor: pointer;
  background-color: #a8c7fa;
  text-align: center;
  text-transform: none;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 18%;
  z-index: 0;
  box-sizing: border-box;
  padding: 7px 15px;
  border: 1px solid transparent;
  border-radius: 9999px;
}

form input.ad_search[type="search"] {
  height: 40px;
  background-color: inherit;
  border: 2px solid lightgray;
  border-radius: 3px;
}